
/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/*Big Noodle Titling is a local font*/
@font-face {
  font-family: Big Noodle Titling;
  src: url(../fonts/bignoodletitling.ttf);
}

/*Desktop version*/
.content{
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 20px;
  min-width: 1600px;/*template width*/
  max-width: 1920px;/*max pics width*/
}

/*hides title*/
.visually-hidden{
  position: absolute;
  clip: rect(0,0,0,0);
  width: 1px;
  height: 1px;
}

.header{
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 0;right: 0; /*no width: 100% for absolute. causes troubles on small screen*/
}

.contacts_header{
  box-sizing: border-box;
  padding-left: 12.6%;
  height: 2rem;
  display: flex;
  border-bottom: 1px solid rgba(255,255,255,0.42);
}

.info_header{
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  list-style: none;
  flex-wrap: wrap;
  flex-grow: 1;
  min-width: 38%;
}

.info__item_header{
  margin-right: 6%;
}

.info__link_header{
  color: white;
  text-decoration: none;
  font-size: 0.65em;
}

.info__link_header::before{
  font-family: FontAwesome;
  font-size: 1.1em;
}

.info-phone::before{
  content:"\f095";
  margin-right: 20px;
}

.info-mail::before{
  content: "\f0e0";
  margin-right: 10px;
}

.info-schedule{
  margin-right: 0;
}

.info-schedule::before{
  content: "\f017";
  margin-right: 12px;
}

.socials_header{
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-right: 3%;
  list-style: none;
  min-width: 15%;
  max-width: 39.1%;
}

.socials__item_header{
  margin-left: 20%;
  font-size: 0;
  box-sizing: border-box;
}

.socials__link_header{
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: FontAwesome;
}


.header-search-form{
  width: 22%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  border-left: 1px solid rgba(255,255,255,0.42);
}

.header-search-form__search-input{
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  box-sizing: border-box;
  padding-left: 18%;
  font-size: 0.65em;
  color: white;
}

.header-search-form__search-icon{
  font-family: fontAwesome;
  color: white;
  position: absolute;
  font-size: 0.75em;
  top: 20%;
  left: 13%;
}

.main-menu_header{
  box-sizing: border-box;
  padding-top: 1rem;
  min-height: 4.9rem;
  padding-left: 17.5%;
  display: flex;
}

.logo{
  max-width: 12.5%;
  height: 8%;
  position: relative;
}

.logo__maintext{
  margin: 0;
  font-size: 2em;
  font-family: "Big Noodle Titling";
  color: #007bff;
  letter-spacing: 0.05em;
  line-height: 90%;
}

.logo__trip{
  color: white;
}

.logo__maintext::before{
  position: absolute;
  left: -55px; top: 7px;
  content: "\f1aa";
  display: inline-block;
  vertical-align: top;
  font-family: FontAwesome;
  font-size: 1.2em;
  color: white;
  margin-right: 7.5%;
}

.logo__addtext{
  margin: 0;
  font-size: 0.65em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 95%;
  letter-spacing: 0.09em;
}

.main-navigation{
  padding-top: 1%;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 16.3%;
}

.main-navigation-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-grow: 1;
  min-width: 50.5%;
}

.main-navigation-menu__item{
  margin-left:5.55%;
}

.main-navigation-menu__link{
  text-decoration: none;
  color: white;
}

.promo{
  height: 51.5rem;
  padding-top: 6.82%;
  background: url(../img/promo.jpg) center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.promo-footer{
  background-color: rgba(71, 160, 255, 0.85);
  color: #fff;
  min-height: 24%;
  display: flex;
  align-items: center;
  padding-left: 14%;
}

.promo-footer-text{
  width: 43%;
}

.promo-main{
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0 14.3% 0 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promo-main-lead{
  box-sizing: border-box;
  max-width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 2%;
}

.promo-main__title{
  margin: 0;
  margin-top: 45.1%;
  font-family: "Big Noodle Titling";
  font-size: 2.85em;
  font-weight: normal;
  color: white;
  line-height: 1.7em;
  letter-spacing: 0.085em;
}

.promo-main__lead{
  font-size: 1.5em;
  color: white;
  margin: 0;
  margin-left: 9%;
  margin-top: 0.3%;
}

.promo-search{
  position: absolute;
  margin: 0;
  top: 18%;
  background-color: #fff;
  width: 32%;
  right: 14.2%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.6%;
}

.promo-search__title{
  margin: 0;
  font-family: "Big Noodle Titling";
  font-size: 3.5em;
  color: #5f5f5f;
  letter-spacing: 0.05em;
  font-weight: normal;
  margin-top: 5%;
  padding-left: 15.6%;
  line-height: 1.21em;
}

.promo-search__lead{
  margin: 0;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 5%;
}

.promo-search__line{
  display: block;
  height: 3.5em;
  position: relative;
  margin: 0 8% 2% 9%;
}

.promo-search__input{
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
  font-size: 0.8em;
  line-height: 3.5em;
  color: #5f5f5f;
  padding: 0 10% 0 5%;
  width: 100%;
}

.promo-search__icon{
  font-family: FontAwesome;
  position: absolute;
  color: #5f5f5f;
  top: 25%; right: 5%;
}

  /*placeholders*/
.promo-search__input [type="text"]::-webkit-input-placeholder{
  color: #5f5f5f;
}

.promo-search__input [type="text"]::-moz-input-placeholder{
  color: #5f5f5f;
}

.promo-search__input::-webkit-search-cancel-button{
  display: none;
}

.btn{
  background-color: #006fe6;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  line-height: 3.26em;
}

.btn_promo-search{
  margin: 0 8% 4% 9%;
}

.tours{
  box-sizing: border-box;
  height: 44.2rem;
  background: url("../img/tour-bg.jpg") bottom no-repeat,
  rgba(255, 255, 255, 0.71);
  background-blend-mode: lighten;
  padding-top: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tours__title{
  margin: 0;
  font-weight: normal;
  font-family: "Big Noodle Titling";
  font-size: 2.5em;
  line-height: 1.7em;
  color: #5f5f5f;
  text-align: center;
  letter-spacing: 0.055em;
}

.tours__lead{
  margin: 0;
  margin-top: 0.9%;
  color: #5f5f5f;
  max-width: 65%;
  text-align: center;
}

.tours-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.tours-list__item{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 4% 1% 0% 1%;
  border-radius: 50%;
  width: 270px; height: 270px;/* help me, Obi-Wan, you're my only hope :) */
}

.tours-list__link{
  color: white;
  text-decoration: none;
  font-family: "Big Noodle Titling";
  font-size: 1.69em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  letter-spacing: 0.05em;
}

.tours-list__item:first-child{
  background: url("../img/tour-1.jpg") center,
  rgba(0,0,0,0.4);
  background-blend-mode: darken;
}

.tours-list__item:first-child{
  background: url("../img/tour-1.jpg") center,
  rgba(0,0,0,0.4);
  background-blend-mode: darken;
}

.tours-list__item:nth-child(2){
  background: url("../img/tour-2.jpg") center;
}

.tours-list__item:nth-child(3){
  background: url("../img/tour-3.jpg") center,
  rgba(0,0,0,0.39);
  background-blend-mode: darken;
}

.tours-list__item:last-child{
  background: url("../img/tour-4.jpg") center;
}


.deals{
  height: 44.3em;
  box-sizing: border-box;
  padding-top: 7%;
  background:
  linear-gradient(to right, rgba(71,160,255,0.85),rgba(71,160,255,0.85)),
  url("../img/deals-bg.jpg") center no-repeat;
}

.deals__title{
  margin: 0;
  font-family: "Big Noodle Titling";
  color: white;
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.055em;
}

.deals-list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  padding: 4% 11.5% 0;
}

.deals-list__item{
  margin-left: 1%;
  margin-right: 1%;
}

.deal{
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.deal-img{
  height: 35%;
  background-color: rgba(0, 100, 200, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  order: -2;
}

.deals-list__item:first-child .deal-img{
  background-image: url("../img/deal-1.jpg");
}

.deals-list__item:nth-child(2) .deal-img{
  background-image: url("../img/deal-2.jpg");
}

.deals-list__item:last-child .deal-img{
  background-image: url("../img/deal-3.jpg");
}

.deal-title{
  margin: 0;
  font-family: "Big Noodle Titling";
  color: #5f5f5f;
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.055em;
}

.deal-pricing{
  margin: -5% 30% 4%;
  padding: 2% 0;
  order: -1;
  color: white;
  background-color: #47a0ff;
  text-align: center;
  font-family: "Big Noodle Titling";
}

.deal-pricing__origin{
  text-decoration: line-through;
  font-size: 1.45em;
}

.deal-pricing__discount{
  font-size: 1.6em;
}

.deal-description{
  font-size: 0.75em;
  color: #5f5f5f;
  margin: 4% 8% 5.5%;
}

.btn_deal{
  margin: 4% 25% 10%;
}

.trips{
  height: 53.5em;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trips__lead{
  margin: 6.5% 0 6%;
  font-family: "Big Noodle Titling";
  color: #5f5f5f;
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: 0.055em;
}

.trips-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.trips-list__item{
  box-sizing: border-box;
  overflow-x: hidden;
  background: gray;
  width: 33%;
  border: 1px solid white;
}

.trip{
  box-sizing: border-box;
  height: 38%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trips-list__item:first-child .trip{
  background:
    linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) center no-repeat,
    url("../img/trip-1.jpg");
}

.trips-list__item:nth-child(2) .trip{
  background:
    linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) center no-repeat,
    url("../img/trip-2.jpg");
}
.trips-list__item:nth-child(3) .trip{
  background:
    linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) center no-repeat,
    url("../img/trip-3.jpg");
}
.trips-list__item:nth-child(4) .trip{
  background:
    linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) center no-repeat,
    url("../img/trip-4.jpg");
}
.trips-list__item:nth-child(5) .trip{
  background:
    linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) center no-repeat,
    url("../img/trip-5.jpg");
}
.trips-list__item:last-child .trip{
  background:

    linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) center no-repeat,
    url("../img/trip-6.jpg");
}

.trip__title{
  margin: 0;
  margin-top: 4%;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.trip__description{
  font-size: 0.75em;
  font-weight: bold;
}

.modal{
  display: none;
}


.blog{
  box-sizing: border-box;
  background-color: #ebebeb;
  height: 45.5em;
  padding: 6.2% 12.5% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__title{
  margin: 0;
  font-family: "Big Noodle Titling";
  color: #353535;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: -0.02em;
}

.blog__lead{
  margin: 0;
  margin-top: 2.9%;
  text-align: center;
  max-width: 80%;
}

.blog-events{
  display: flex;
  flex-direction:row;
  margin-top: 5%;
}

.event{
  box-sizing: border-box;
  background: white;
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event:last-child{
  margin-right: 0;
}

.event-img{
  margin: 2%;
  order: -1;
}

.event__title{
  margin: 7% 0 2% 7%;
  color: #47a0ff;
  font-size: 0.9em;
  align-self: flex-start;
}

.event-meta{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 6% 7%;
  color: #5f5f5f;
  font-size: 0.75em;
  text-transform: capitalize;
  align-self: flex-start;
}

.event-meta__author::before,
.event-meta__date::before{
  font-family: FontAwesome;
  content: "\f007";
  font-size: 1.33em;
  margin-right: 10px;
}

.event-meta__date::before{
  content: "\f073";
}

.event-content{
  font-size: 0.75em;
  line-height: 1.5em;
  margin: 3% 10% 15% 7%;
}

.company{
  box-sizing: border-box;
  background-color: #605b23;
  background: linear-gradient(to right, rgba(0,0,0,0.53), rgba(0,0,0,0.53)),
  url("../img/company-bg.jpg") bottom no-repeat;
  height: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company__title{
  margin: 0;
  margin-top: 11.3%;
  font-size: 7.4em;
  letter-spacing: 0.05em;
  font-weight: normal;
  font-family: "Big Noodle Titling";
  color: white;
  line-height: 1em;
}

.company__lead{
  margin: 0;
  margin-left: 1%;
  font-size: 2.5em;
  font-family: "Big Noodle Titling";
  font-weight: normal;
  color: white;
  letter-spacing: 0.05em;
  line-height: 0.95em;
}

.btn_company{
  border-radius: 50%;
  width: 160px;
  height: 160px;
  line-height: 160px;
  margin-top: 1.6%;
  margin-left: -1.6%;
}

.footer{
  display: flex;
  flex-direction: column;
  height: 20em;
}

.footer-main{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  padding: 5% 12.5% 0;
  border-bottom: 1px solid #d1d1d1;
}

.footer-main-llc{
  width: 31%;
}

.footer-main-llc__title,
.support__title, .social__title,
.subscribe__title{
  margin: 0 0 10%;
  font-family: "Big Noodle Titling";
  font-size: 1.5em;
  letter-spacing: 0.07em;
  color: #5f5f5f;
  font-weight: normal;
}

.support{
  width: 20%;
}

.info_footer{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2%;
}

.info__link_footer, .support-options__link{
  text-decoration: none;
  color: #5f5f5f;
  font-size: 0.75em;
  line-height: 1.7em;
}

.social{
  width: 23%;
}

.socials_footer{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.socials__item_footer{
  font-size: 0;
  width: 42px; height: 42px;
  border-radius: 50%;
  background: #47a0ff;
  margin-right: 3%;
}

.socials__link_footer{
  font-family: FontAwesome;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block;
  transform: translateY(60%);
}

.footer-copyright{
  display: flex;
  flex-direction: row;
}

.support-options{
  list-style: none;
  padding: 0;
}

.subscription-form{
  display: flex;
}

.subscription__input{
  margin-left: 5%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
}
